@import url('https://fonts.cdnfonts.com/css/badaboom-bb');

#navbar {
    z-index: 999;
    display: flex;
    position: fixed;
    height: 5rem;
    width: 100%;
    background-color: #FF194C; 
    top: 0;
    left: 0;
    justify-content: space-between;
}

#logo {
    padding: 0 6rem;
}

#navbar #navitems {
    list-style: none;
    display: flex;
    gap: 3rem;
    padding: 0 6rem;
}

#navitems li {

    color: #FBCA03;
    font-family: 'BadaBoom BB', sans-serif;
    font-size: 2rem;
    -webkit-text-stroke: black 0.08rem;
    text-shadow: 2px 4px 4px black;
    align-self: center;
}

.navlinks {
    text-decoration: none;
}
